__pycache__/
*.pyc
*.pyo
.venv/
venv/
data/
*.db
*.onnx
responses/
*.wav
.env
claude-attempts/
music/
snippets/
tools/
voices/
2026-voice-assistant.code-workspace
orchestration/__pycache__/
orchestration/*.pyc
orchestration/*.pyo
orchestration/.venv/
orchestration/venv/
orchestration/data/
orchestration/responses
orchestration/old-patches
orchestration/.vscode
stt/.venv
stt/.vscode
stt/__pycache__/
stt/*.pyc
stt/*.pyo
tts/.venv
tts/.vscode
tts/*.onnx
tts/*.onnx.json
tts/__pycache__/
tts/*.pyc
tts/*.pyo
wakeword/.venv
wakeword/.vscode
wakeword/*.onnx
wakeword/old-patches
wakeword/__pycache__
wakeword/*.pyc
wakeword/*.pyo
wakeword/*.wav
ollama-stub/.venv
ollama-stub/.vscode
ollama-stub/__pycache__
ollama-stub/*.pyc
ollama-stub/*.pyo