bleak==3.0.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
dbus-fast==5.0.22
flatbuffers==25.12.19
idna==3.18
joblib==1.5.3
narwhals==2.22.1
numpy==2.5.0
onnxruntime==1.27.0
openwakeword==0.6.0
packaging==26.2
protobuf==7.35.1
PyAudio==0.2.14
pycparser==3.0
python-mpd2==3.1.1
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
silero-vad-lite==0.2.1
soundfile==0.14.0
threadpoolctl==3.6.0
tqdm==4.68.3
typing_extensions==4.15.0
urllib3==2.7.0
wyoming==1.9.0
